# Maven
**/target/
!.mvn/wrapper/maven-wrapper.jar

### IntelliJ IDEA ###
.idea/
*.iws
*.iml
*.ipr

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store

# 环境变量文件
**/.env
**/application.yml
**/bootstrap.yml
**/application-common.yml
**/bootstrap-common.yml
**/application.properties
**/bootstrap.properties
**/*.yaml


# 忽略 logs 目录
logs/
**/logs/

# 编译产物
*.jar
*.war
*.ear
*.class

# 日志文件
*.log
*.log.*

doc/docker/
**/doc/docker/